Herzlichen Dank für Ihre Registrierung in unserem Lieferantenportal!<br/>
Ihre Zugangsdaten lauten: {{ email }}<br/>
<br/>
Mit dem folgenden Link aktivieren Sie Ihr Benutzerkonto.<br/><br/>
<h3><a target="_blank" href="{{ simUrl }}/registration/confirmation/{{ verificationToken }}">Zur Aktivierung Ihres Benutzerkontos</a></h3><br/>
Bitte loggen Sie sich auf der Portalseite mit Ihren Zugangsdaten ein und füllen Sie das Lieferantenprofil aus. Hierüber können Sie uns grundlegende Informationen zu Ihrem Unternehmen zur Verfügung stellen.<br/>
<br/><br/>
Dies ist eine automatisch generierte E-Mail. Bitte antworten Sie nicht auf diese E-Mail.<br/><br/>
{{ signature }}
