{
  "development": {
    "username": "jcatalog",
    "password": "jcatalog",
    "database": "divin_supplier",
    "host": "crow.scand",
    "dialect": "mysql",
    "populateDatabase": "demo"
  },
  "test": {
    "username": "username",
    "password": "password",
    "database": "database",
    "dialect": "sqlite",
    "storage": "testdb.sqlite"
  },
  "production": {
    "username": "jcatalog",
    "password": "jcatalog",
    "database": "divin_prod_supplier",
    "host": "crow.scand",
    "dialect": "mysql"
  }
}
