Hallo {{ firstName }} {{ lastName }},<br/><br/>
die Firma {{ companyName }} hat sich über die eProcurement-Plattform neu registriert.<br/>
Bitte prüfen Sie die Bewerbung unter folgendem Link:<br/>
<a target="_blank" href="{{ simUrl }}/supplierQualification">Zur Bewerbung</a><br/>
Dies ist eine automatisch generierte E-Mail. Bitte antworten Sie nicht auf diese E-Mail.
