<section style="margin-bottom:20px;">
  <img  src="https://cloud.githubusercontent.com/assets/22681804/22023747/c7da9ce8-dcc7-11e6-8b73-2cba6ffc2455.png" alt="header image" width="100%" style="object-fit: cover;
    width: 40%;
    height: auto;">
</section>
Thank you for registering on our Business Network Portal!<br/><br/>
Your log-in details are:<br/>
Log-in Name: {{ email }}<br/>
<br/>
With the following link you will activate your user account.<br/>
<h3><a target="_blank" href="{{ simUrl }}/registration/confirmation/{{ verificationToken }}">To your account activation</a></h3><br/>
On the activation page you´ll find a link to the Business Network Portal.<br/>
Please log in and fill in the company profile. This is where you can provide us with general information about your company.<br/>
<br/><br/>
This e-mail has been generated automatically. Please do not use the reply function to answer.<br/><br/>
{{ signature }}
